/* typography */
html {
    font-family:Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN", "HiraKakuProN-W3", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
    background-color: #E5E1D1;
}
h1,h3,h5{
    font-family:"Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN", "HiraKakuProN-W3", "Meiryo", "ＭＳ Ｐゴシック",Georgia,serif;
}
h2,h4,h6{
    font-family:Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN", "HiraKakuProN-W3", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
}
@media screen and (min-width: 60em) {
    h1 {font-size: 2.5em;}
}
.post__content {
    font-size: 0.8em;
}
.post__content p {
    margin-bottom: 1.5em;
}
.post__content rt {
    margin-bottom: -3px;
}
.legal {
    font-size: 0.8em;
}

/* common */
.center {
    text-align: center;
}

/* customization */
.signature {
    text-align: right;
}
.about .post__meta__infos {
    text-align: right;
    margin-top: 1em;
}
blockquote {
    background-color: rgba(204, 197, 167, 0.3);
    border-left: 6px solid #ccc5a6;
    font-size: 1.125em;
}
figure {
    margin:1em 40px 1.5em;
}
.post__content figcaption p {
    margin: 0 auto;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}
code {
    background-color: #e6e5e1;
    color: #333333;
    border: 1px solid #aaa;
    border-radius: 4px;
}

nav.pager {
    margin: 3em auto 0;
    max-width: 40em;
    padding: 0 1.5em;
}
ul.pager-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pager-next {
    margin-left: auto;
}

/* "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN", "HiraKakuProN-W3", "游ゴシック", "Yu Gothic", "Meiryo", "ＭＳ Ｐゴシック", sans-serif; */
