<ul class="post__meta__infos">
    <li class="post__meta__date"><time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ .Date.Format "(2006.1.02)" }}</time></li>
    {{ if ne .Date .Lastmod }}
    <li class="post__meta__date"><time datetime="{{ .Date.Format " 2006-01-02 " }}" itemprop="dateChanged">{{ .Lastmod.Format "(2006.1.02改訂)" }}</time></li>
    {{ end }}
</ul>
<meta itemprop="url" content="{{ .Permalink }}">
<meta itemprop="wordCount" content="{{ .WordCount }}" />
<meta itemprop="timeRequired" content="{{ .ReadingTime }} Min" />
